# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
package-lock.json.bak

# Expo & Web build outputs
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds & generated folders (EAS / Prebuild)
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.keystore
*.mobileprovision
*.apk
*.aab
*.ipa

# Metro & Debug logs
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript & build/typecheck artifacts
*.tsbuildinfo
tsc_output*.txt

# Local Environment Variables (secrets)
.env
.env*.local
.env.*
!.env.example

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local documents / exports
*.docx
